@import "../../styles/partials/_mixins.scss";
@import "../../styles/partials/_variables.scss";

.food {
    max-width: 300px;

    &--wrapper{
        border: 2px solid red;
    }

    &--img {
        object-fit: contain;
        max-width: 100%;
    }
}